openapi: 3.1.0
info:
  version: 0.1.0
  title: TogoMedium API
  contact:
    url: https://togomedium.org
  description: >
    TODO: write description
security: []
tags:
  - name: List Stanza
    description: "These endpoints return a list of data which is used by TogoMedium's List Stanza."
  - name: Stanza
    description: "These endpoints return is used by TogoMedium's Stanza."
  - name: Media Finder
    description: "These endpoints are related to the media finder Stanzas"
  - name: Deprecated
    description: "These endpoints have been deprecated."
servers:
  - url: https://togomedium.org/sparqlist/api
    description: "TogoMedium SPARQList API server"
paths:
  /gmdb_components_with_components:
    $ref: "paths/components_with_components.yaml"
  /gmdb_taxonomy_children:
    $ref: "paths/taxonomy_children.yaml"
  /gmdb_media_strains_alignment_by_gm_ids:
    $ref: "paths/media_strains_alignment_by_gm_ids.yaml"
  /gmdb_media_by_taxon:
    $ref: "paths/media_by_taxon.yaml"

  /gmdb_component_by_gmoid:
    $ref: "paths/stanza/gmdb_component_by_gmoid.yaml"
  /gmdb_medium_by_gmid:
    $ref: "paths/stanza/gmdb_medium_by_gmid.yaml"
  /gmdb_organism_by_taxid:
    $ref: "paths/stanza/gmdb_organism_by_taxid.yaml"
  /gmdb_taxonomic_rank_by_taxid:
    $ref: "paths/stanza/gmdb_taxonomic_rank_by_taxid.yaml"
  /gms_by_kegg_tids_3:
    $ref: "paths/stanza/gms_by_kegg_tids_3.yaml"
  /gms_kegg_code_tid:
    $ref: "paths/stanza/gms_kegg_code_tid.yaml"
  /list_taxons_by_rank:
    $ref: "paths/stanza/list_taxons_by_rank.yaml"
  /gmdb_list_components_by_gmoids:
    $ref: "paths/list_components_by_gmoids.yaml"
  /gmdb_list_components_by_keyword:
    $ref: "paths/list_components_by_keyword.yaml"
  /gmdb_list_media_by_gmids:
    $ref: "paths/list_media_by_gmids.yaml"
  /gmdb_list_media_by_keyword:
    $ref: "paths/list_media_by_keyword.yaml"
  /gmdb_list_organisms_by_keyword:
    $ref: "paths/list_organisms_by_keyword.yaml"
  /gmdb_list_organisms_by_taxids:
    $ref: "paths/list_organisms_by_taxids.yaml"
  /gmdb_list_similar_media_by_gmid:
    $ref: "paths/list_similar_media_by_gmid.yaml"
  /gmdb_media_by_gmoid:
    $ref: "paths/media_by_gmoid.yaml"
  /gmdb_media_by_taxid:
    $ref: "paths/media_by_taxid.yaml"
  /gmdb_organisms_by_gmid:
    $ref: "paths/organisms_by_gmid.yaml"
  /gmdb_stat_phylum_gm:
    $ref: "paths/stat_phylum_gm.yaml"
  /list_components:
    $ref: "paths/list_components.yaml"
  /list_media:
    $ref: "paths/list_media.yaml"
  /list_organisms:
    $ref: "paths/list_organisms.yaml"

  #deprecated
  /gmdb_list_media:
    $ref: "paths/_list_media.yaml"
  /gmdb_infraspecific_list_by_taxid:
    $ref: "paths/infraspecific_list_by_taxid.yaml"
